%section
  .row
    .section-header.col-md-offset-1
      %h3= @business.name
    #reviews-section.col-md-4.col-md-offset-1
      - if signed_in?
        #new-review.home-business-btn
          %a(href="#review-form" class="btn btn-default yelp-default-btn" data-toggle="collapse")
            + New Review
          #review-form.collapse
            .well
              = form_for [@business, @review] do |f|
                .form-group
                  = f.label :rating, "Rating"
                  = f.number_field :rating, class: 'form-control'
                .form-group
                  = f.text_area :content, class: 'form-control'
                .form-group
                  %input(type="submit" name="commit" value="Post Review" class="form-control yelp-default-btn" data-target="review-form" data-toggle="collapse")
      #business-show-reviews
        %h4 Reviews
        - @business.reviews.each do |review|
          .row
            .col-md-6.business-page-reviews
              = link_to user_path(review.user) do
                #{review.user.first_name} #{review.user.last_name}
              %br
              %b= "Rating: #{review.rating}"
              %p= review.content
    .business-row
      .col-md-4.col-md-offset-1
        = link_to business_path(@business) do
          = image_tag @business.photo_url, id:"business_show_image"
        %h4= link_to "#{@business.name}", business_path(@business)
        %h5= "Rating: #{@business.rating}"
        %p.business-content= @business.description
        %p= @business.address
        %p= "#{pretty_time_format(@business.time_open)} - #{pretty_time_format(@business.time_close)}"
