.row#register-form
  .col-md-4.col-md-offset-4
    = form_for @user do |f|
      .form-group#name-form
        %ul.list-unstyled.list-inline
          %li
            %label.hidden First name
            = f.text_field :first_name, class: 'form-control',placeholder: 'First Name'
          %li
            %label.hidden Last name
            = f.text_field :last_name, class: 'form-control', placeholder: 'Last Name'
      .form-group
        %label.hidden Email
        = f.text_field :email, class: 'form-control',placeholder: 'Email'
      .form-group
        %label.hidden Password
        = f.password_field :password, class: 'form-control',placeholder: 'Password'

      = f.submit "Sign Up", class: 'form-control', id: 'register-submit-btn'
