#user-page
  %h3= "Name: #{@user.first_name} #{@user.last_name}"
  %br
  = "Email: #{@user.email}"
  %br
  = "About me"
  %hr
  %h4#user-profile-reviews-title Reviews
  - @user.reviews.each do |review|
    .row.user-profile-review
      .col-md-1
        = image_tag "", width: "80", height: "80"
        = link_to "#{review.business.name}", business_path(review.business_id)
      .col-md-2
        %ul.list-unstyled
          %li= "#{format_price_range(review.business.price_range)} - #{review.business.description}\n"
          %li= "#{review.business.address}\n"
          %li= "Rating: #{review.rating}"

      .review-content-user-profile.col-md-6
        = review.content
