.row
  .col-md-2.col-md-offset-2.home-business-btn
    = link_to "Businessses", businesses_path,  class: "btn btn-default yelp-main-btn-color"
  - if signed_in?
    .col-md-2.col-md-offset-3.home-business-btn
      = link_to "+ New Business", new_business_path, class: "btn btn-default yelp-main-btn-color"

#home_content.row
  %section.col-md-5.col-md-offset-2
    %header
      %h3 Recent Reviews
    #recent-reviews
      - @reviews.each do |review|
        .review.row
          .col-md-5.well
            %h4=link_to review.business.name, business_path(review.business)
            %p
              = "Rating: #{review.rating}"
              %br
              = shortened_content(review.content)
  %section.col-md-5
    %header
      %h3 New Businesses
    #recent-businesses
      - @businesses.each do |business|
        .row.business-row
          .col-xs-6.col-md-6
            .business-list-content
              = link_to business_path(business), class: "thumbnail business-thumbnail" do
                - if business.photo_url
                  = image_tag business.photo_url, class: "business-image"
              .business-list-info
                %h5= business.name
                %h5= "Rating: #{business.rating}"
                %h5.business-address.hidden= business.address
