.row#signup-form
  .col-md-4.col-md-offset-4
    = form_tag users_path do
      .form-group#name-form
        %ul.list-unstyled.list-inline
          %li
            %label.hidden First name
            = text_field_tag 'First Name', nil,class: 'form-control',placeholder: 'First Name'
          %li
            %label.hidden Last name
            = text_field_tag 'Last Name', nil,class: 'form-control', placeholder: 'Last Name'
      .form-group
        %label.hidden Email
        = text_field_tag 'Email', nil, class: 'form-control',placeholder: 'Email'
      .form-group
        %label.hidden Password
        = text_field_tag 'Password', nil, class: 'form-control',placeholder: 'Password'

      = submit_tag "Sign Up", class: 'form-control', id: 'sign-up-submit-btn'
