.row
  .section-header.col-md-offset-1
    %h3 Write Review
.row
  .col-md-1.col-md-offset-1
    = image_tag "", width: "80", height: "80"
    = link_to "Business Name", "#"
  .col-md-2
    %ul.list-unstyled
      %li $ - Type of Restuarant
      %li Location
      %li Rating
  .col-md-6.col-md-offset-1#review-new-content
    = form_for :review do |f|
      .form-group
        = f.label "Your Review"
        .form-control#pseudo-text-area-review
          %span Rating
          %hr
          = f.text_area :content, rows:"10", cols:"83", placeholder:"Write your review here"
      .form-group
        = f.submit "Post Review!", class: 'btn btn-danger yelp-main-btn-color'
