!!! 5
%html(lang="en-US")
%head
  %title YelpClone
  = csrf_meta_tags
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
%body
  %header
    = render 'shared/header'
  %section.content.clearfix
    = render 'shared/messages'
    = yield
  %footer
    &copy 2016 Yelp Clone
